* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.container{
    max-width: 140rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

h1{
    font-size: 6.8rem;
    color: white;
    line-height: 1.5;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}

.align-text{
    text-align: center;
}

.gradient-color{
    background-image: linear-gradient(to right, #6a93e4 0%, #66c0ea 51%, #6a93e4 100%);    
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
/***** HEADER ******/


.header-bg{
    position: relative;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    
    height: 93vh;
    border-bottom-right-radius: 0%;
}
.custom-shape-divider-bottom-1608140145 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608140145 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1608140145 .shape-fill {
    fill: #FFFFFF;
}

.header-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* NAVBAR */
.logo svg{
    fill: white;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: white;
    margin-right: 3rem;
    font-size: 2.2rem;
    letter-spacing: 3px;
}
nav ul a:nth-last-of-type(4){
    margin-right: 0;
}

.burguer{
    display: none;
    cursor: pointer;
}

.burguer div {
    width: 3rem;
    height: 0.5rem;
    background-color: white;
    margin: 0.7rem;
    transition: all 0.3s ease;
}



@media screen and (max-width: 830px) {
    .header-container{
        position: relative;
    }
    h1{
        font-size: 3.5rem;
        margin-bottom: 10rem;
    }

    body{
        overflow-x: hidden;
    }
    nav ul {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 10vh;
        background-color:#330033;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        opacity: 0;
    }

    .burguer{
        display: block;
        position: sticky;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-0.7rem, 1rem);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-0.7rem, -1rem);
}

/* HERO */
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin-bottom: 20rem;
    margin: 0 2rem 20rem 2rem;
}
.hero h1{
    display: flex;
    flex-direction: column;
}
.hero a{
background-color: white;    border-radius: 30px;
    color: #6a93e4;
    border: #6a93e4;
    padding: 2rem 5rem;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    background-size: 200% auto;
    text-decoration: none;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
}
.hero a:hover{
    background-image: linear-gradient(to right, #6a93e4 0%, #66c0ea 51%, #6a93e4 100%);    
    color: white;
    background-position: right center;
}


.hero-icon svg{
    fill:black;
    fill-opacity: 0.15;
    width: 330%;
    height: 330%;

}


/***** EXPERIENCE SECTION *****/

.experience-section{
    position: relative;
    bottom: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    max-width: 900px;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.experience-section p {
    max-width: 70%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.brand-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 830px) {
    .experience-section{
        margin: 0 auto;
    }
    
}
/**** ----- Main Section SERVICES ----- ****/
.services-bg{
    background-image: url(img/clouds_banner_long.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;

}

.service{
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border: 0.5px solid lightgrey;
    margin: 2rem 2rem;
}
.service *{
    margin: 0 2rem;
}

@media (min-width: 830px) {
    .services{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .service{
        flex-basis: calc(33% - 2rem);
    }
}

.service h4{
    margin: 5rem 0;
    border: 1px solid lightgrey;
    border-radius: 4rem;
    color: white;
}

.price-p{
    font-weight: 600;
}


.blue-bg{
    background-color:#330033;
}
.red-bg{
    background-color: #F1574B;
}
.purple-bg{
    background-color: #8E6ACB;
}



.buy{
    margin: 0;
    padding: 2rem 0;
    border-radius: 0 0 2rem 2rem;
}

.buy a{
    text-decoration: none;
    color: white;
}


/***** ----- FEATURES SECTION ------ *******/

.feature-bg{
    color: white;
    background-color: #092540;
}
.feature-container{
    padding: 5rem 0 2rem 0;
    margin: 15rem 0 0 0;
}
.feature{
    text-align: center;
    margin-bottom: 5rem;
}
.feature-title{
    text-align: center;
}
.feature h4{
    margin: 0;
}
.feature p{
    margin-top: 0;
}

.feature-img{
    text-align: center;
}


@media (min-width: 830px) {
    .feature-container{
        padding: 5rem 0 2rem 0;
        margin: 15rem 0 0 0;
    }
    
    .feature-section{
        margin: 2rem 2rem;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .feature{
        text-align: start;
    }
    .feature-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/**** ---- Enterprise Section ---- ****/

.enterprise-bg{
    color: black;
    background-color: #F6F9FA;
}

.enterprise-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enterprise-container h4{
    margin: 5rem 0 0 0;
    padding-top: 5rem;
    text-align: center;
}

.enterprise-container p{
    text-align: center;
}

.enterprise-btn{
    padding: 2rem 5rem;
    border: 1px solid #D61C1C;
    border-radius: 1rem;
    margin: 5rem 0;

}

.enterprise-btn a{
    text-decoration: none;
    color: #D61C1C;
    font-size: 2rem;
}

.custom-shape-divider-bottom-1608215932 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1608215932 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}

.custom-shape-divider-bottom-1608215932 .shape-fill {
    fill: #FFFFFF;
}

/**** ---- JOIN US Section ---- ****/

.join-us-bg{
    color: black;
    background-color: #ffff;
}

.join-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20rem 0;
}

.join-us-container h4{
    margin: 5rem 0 0 0;
    padding-top: 5rem;
    text-align: center;
}

.join-us-container p{
    text-align: center;
}

.join-us-btn{
    padding: 2rem 5rem;
    border: 1px solid #3C4759;
    border-radius: 1rem;
    margin: 5rem 5rem;
}

.join-us-btn a{
    text-decoration: none;
    color: #3C4759;
    font-size: 2rem;
}

/**** ---- FOOTER ---- ****/

footer{
    height: 40rem;
    background-color: #330033;
}

/**** ---- PRODUCT PAGE ---- ****/

.product-container{
    background-color: red;
}

/*TEXT ROTATOR 

.text {
    position: absolute;
    width: 450px;
    left: 30%;
    margin-left: -105%;
    height: 40px;
    top: 30%;
    margin-top: -20px;
}
  
p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
  
.word {
    position: absolute;
    width: 100%;
    opacity: 0;
}

/* ANIMATIONS H1 */

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind { transform: rotateX(-90deg); }
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
*/