* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.container{
    max-width: 140rem;
    margin: 0 auto;
}
.none{
    display: none;
}
img{
    max-width: 100%;
}


h1{
    font-size: 6.8rem;
    color: white;
    line-height: 1.5;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}

.align-text{
    text-align: center;
}

.gradient-color{
    background-image: linear-gradient(to right, #6a93e4 0%, #66c0ea 51%, #6a93e4 100%);    
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
/***** HEADER ******/


.header-bg{
    position: relative;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    
    height: 93vh;
    border-bottom-right-radius: 0%;
}
.custom-shape-divider-bottom-1608140145 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608140145 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1608140145 .shape-fill {
    fill: #FFFFFF;
}

.header-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* NAVBAR */
.logo svg{
    fill: white;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: white;
    margin-right: 3rem;
    font-size: 2.2rem;
    letter-spacing: 3px;
}
nav ul a:nth-last-of-type(4){
    margin-right: 0;
}

.burguer{
    display: none;
    cursor: pointer;
}

.burguer div {
    width: 3rem;
    height: 0.5rem;
    background-color: white;
    margin: 0.7rem;
    transition: all 0.3s ease;
}
body{
    overflow-x: hidden;
}


@media screen and (max-width: 830px) {
    .header-container{
        position: relative;
    }
    h1{
        font-size: 3.5rem;
        margin-bottom: 10rem;
    }

    body{
        overflow-x: hidden;
    }
    nav ul {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 10vh;
        background-color:#330033;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        opacity: 0;
    }

    .burguer{
        display: block;
        position: sticky;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-0.7rem, 1rem);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-0.7rem, -1rem);
}

/* HERO */
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin-bottom: 20rem;
    margin: 0 2rem 20rem 2rem;
}
.hero h1{
    display: flex;
    flex-direction: column;
}
.hero a{
background-color: white;    border-radius: 30px;
    color: #6a93e4;
    border: #6a93e4;
    padding: 2rem 5rem;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s;
    background-size: 200% auto;
    text-decoration: none;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
}
.hero a:hover{
    background-image: linear-gradient(to right, #6a93e4 0%, #66c0ea 51%, #6a93e4 100%);    
    color: white;
    background-position: right center;
}


.hero-icon svg{
    fill:black;
    fill-opacity: 0.15;
    width: 330%;
    height: 330%;

}




/***** EXPERIENCE SECTION *****/

.experience-section{
    position: relative;
    bottom: 15rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    max-width: 900px;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.experience-section p {
    max-width: 70%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.brand-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 830px) {
    .experience-section{
        margin: 0 auto;
    }
    
}
/**** ----- Main Section SERVICES ----- ****/
.services-bg{
    background-image: url(img/clouds_banner_long.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.services{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;

}

.service{
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border: 0.5px solid lightgrey;
    margin: 2rem 2rem;
}
.service *{
    margin: 0 2rem;
}

@media (min-width: 830px) {
    .services{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .service{
        flex-basis: calc(33% - 2rem);
    }
}

.service h4{
    margin: 5rem 0;
    border: 1px solid lightgrey;
    border-radius: 4rem;
    color: white;
}

.price-p{
    font-weight: 600;
}
.service-text p{
    margin-bottom: 2rem;
}
.service-icon{
    font-size: 5rem;
}

.blue-bg{
    background-color:#330033;
}
.red-bg{
    background-color: #F1574B;
}
.purple-bg{
    background-color: #8E6ACB;
}



.buy{
    margin: 0;
    padding: 2rem 0;
    border-radius: 0 0 2rem 2rem;
}

.buy a{
    text-decoration: none;
    color: white;
}


/***** ----- FEATURES SECTION ------ *******/

.feature-bg{
    color: white;
    background-color: #092540;
}
.feature-container{
    padding: 5rem 0 2rem 0;
    margin: 15rem 0 0 0;
}
.feature{
    text-align: center;
    margin-bottom: 5rem;
}
.feature-title{
    text-align: center;
}
.feature h4{
    margin: 0;
}
.feature p{
    margin-top: 0;
}

.feature-img{
    text-align: center;
}


@media (min-width: 830px) {
    .feature-container{
        padding: 5rem 0 2rem 0;
        margin: 15rem 0 0 0;
    }
    
    .feature-section{
        margin: 2rem 2rem;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .feature{
        text-align: start;
    }
    .feature-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/**** ---- Enterprise Section ---- ****/

.enterprise-bg{
    color: black;
    background-color: #F6F9FA;
}

.enterprise-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enterprise-container h4{
    margin: 5rem 0 0 0;
    padding-top: 5rem;
    text-align: center;
}

.enterprise-container p{
    text-align: center;
}

.enterprise-btn{
    padding: 2rem 5rem;
    border: 1px solid #D61C1C;
    border-radius: 1rem;
    margin: 5rem 0;

}

.enterprise-btn a{
    text-decoration: none;
    color: #D61C1C;
    font-size: 2rem;
}

.custom-shape-divider-bottom-1608215932 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1608215932 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}

.custom-shape-divider-bottom-1608215932 .shape-fill {
    fill: #FFFFFF;
}

/**** ---- JOIN US Section ---- ****/

.join-us-bg{
    color: black;
    background-color: #ffff;
}

.join-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20rem 0;
}

.join-us-container h4{
    margin: 5rem 0 0 0;
    padding-top: 5rem;
    text-align: center;
}

.join-us-container p{
    text-align: center;
}

.join-us-btn{
    padding: 2rem 5rem;
    border: 1px solid #3C4759;
    border-radius: 1rem;
    margin: 5rem 5rem;
}

.join-us-btn a{
    text-decoration: none;
    color: #3C4759;
    font-size: 2rem;
}

/**** ---- FOOTER ---- ****/

footer{
    height: 40rem;
    background-color: #330033;
}

/**** ---- PRODUCT PAGE ---- ****/

.header-bg-product-transcription{
    position: relative;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23400040' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%234d004d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%235b005b' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23690069' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23770077' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23860086' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23960096' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23a600a6' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23b600b6' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23c600c6' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-size: cover;
    height: 50vh;
    border-bottom-right-radius: 0%;
}
.header-bg-product-captions{
    position: relative;
    background-color: #5d221d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%236d2822' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%237d2d27' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%238d332c' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%239e3931' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23af3f36' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23bc443a' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23c9483e' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23d64d42' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e35247' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f1574b' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    border-bottom-right-radius: 0%;
}

.product-container{
    color: #232D40;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-it-works{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.step{
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 0.5px solid lightgrey;
    margin: 2rem 2rem;
    padding: 2rem 2rem;
}

.step-1-trans{
    background-color: #C600C6;
    color: white;
}
.step-1-captions{
    background-color: #F1574B;
    color: white;
}
.step-1-foreign{
    background-color: #C600C6;
    color: white;
}
.step-2-trans{
    background-color: #770077;
    color: white
}
.step-2-captions{
    background-color: #AF3F36;
    color: white
}
.step-2-foreign{
    background-color: #770077;
    color: white
}

.step-3-trans{
    background-color:#330033;
    color: white;
}
.step-3-captions{
    background-color:#5D221D;
    color: white;
}
.step-3-foreign{
    background-color:#330033;
    color: white;
}

.product-btn{
    padding: 2rem 5rem;
    border: 1px solid #D61C1C;
    border-radius: 1rem;
    margin: 5rem auto;
    display: block;
    
}

.product-btn a {
    text-decoration: none;
    color: #D61C1C;
    text-align: center;
}

@media (min-width: 830px) {
    .how-it-works{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .step{
        flex-basis: calc(33% - 2rem);
    }
}

/**** ---- ORDER ----- ****/

.order-bg{
    color: black;
    background: rgb(247,249,250);
    background: radial-gradient(circle, rgba(247,249,250,1) 0%, rgba(0,212,255,0.19791666666666663) 100%);}
.order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order-container h2{
    text-align: start;
}

.drag-and-drop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-order{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Progress Order */
.progress{
    position: relative;
    width: 21rem;
    height: 3rem;
    background: #9cbab4;
    border-radius: 1rem;
    overflow: hidden;
}

.progress__fill{
    width: 0%;
    height: 100%;
    background: #009579;
    transition: all 1s;
}

.progress__text{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    color: white;
}

.drop-zone {
    width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
}
.drop-zone--over{
    border-style: solid;
}

.drop-zone__input{
    display: none;
}

.drop-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;

}

.custom-shape-divider-bottom-1608554415 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608554415 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 169px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1608554415 .shape-fill {
    fill: #FFFFFF;
}

/* Checkout */
.signIn{
    visibility: visible;
    transition: visibility 0s, opacity 0.3s, max-height 0.6s linear;
    opacity: 1;
}

.h-hide{
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    transition: max-height 0.5s, opacity 0.5s, visibility 0.5s linear;
}
.wrapper{
    margin: 2rem 1rem;
    background: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
    padding: 30px 0;
    transition: all 1s;
}
  
.wrapper .title{
    background: #009578;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    letter-spacing: 5px;
    height: 35px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 10px;
}
  
.checkout_form{
    padding: 0 30px;
}

.checkout_form .input_item input[type="email"], .checkout_form .input_item input[type="text"]{
    width: 100%;
    border: 0;
    background: transparent;
    text-align: center;
    border-bottom: 2px solid #dddddd;
    padding: 10px;
    transition: all 0.5s ease;
    color: blue;
    font-size: 18px;
}

.video-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.input_item p{
    display: inline;
}
.checkout_form .input_item input[type="number"] {
    width: 30%;
    border: 0;
    background: transparent;
    text-align: right;
    border: 2px solid #dddddd;
    padding: 10px;
    transition: all 0.5s ease;
    color: blue;
    font-size: 18px;
}

.checkout_form .input_item{
    margin-bottom: 10px;
}
  
.input_grp{
    margin-bottom: 10px;
}
  
.input_grp,
.input_grp .input_item.expiry_field{
    display: flex;
    justify-content: space-between;
}
  
.input_grp .input_item{
    width: 45%;
}
  
.input_grp .input_item.expiry_field input[type="text"]{
    width: 45%;
}
  
.btn{
    width: 150px;
    background: #009578;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 20px;
}
  
.btn a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    color: #fff;
}
  
.checkout_form .input_item input[type="text"]:focus{
    border-bottom: 2px solid #f2483b;
}
  
/*TEXT ROTATOR 

.text {
    position: absolute;
    width: 450px;
    left: 30%;
    margin-left: -105%;
    height: 40px;
    top: 30%;
    margin-top: -20px;
}
  
p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
  
.word {
    position: absolute;
    width: 100%;
    opacity: 0;
}

/* ANIMATIONS H1 */

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind { transform: rotateX(-90deg); }
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
*/